//
//  Release.xcconfig
//  Moop
//
//  Created by kor45cw on 05/08/2019.
//  Copyright © 2019 kor45cw. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Default.xcconfig"
#include "Ad.xcconfig"

GAD_APPLICATION_IDENTIFIER = $(GAD_APPLICATION_IDENTIFIER)

// VERSION
BUNDLE_SHORT_VERSION = $(CONFIG_BUNDLE_SHORT_VERSION_APPSTORE)
BUNDLE_VERSION = $(CONFIG_BUNDLE_VERSION_APPSTORE)

// PRODUCT_BUNDLE_IDENTIFIER
PRODUCT_BUNDLE_IDENTIFIER = $(CONFIG_PRODUCT_BUNDLE_IDENTIFIER_APPSTORE)

// PRODUCT_NAME
PRODUCT_NAME = $(CONFIG_PRODUCT_NAME_APPSTORE)

// CODE_SIGN_ENTITLEMENTS
//CODE_SIGN_ENTITLEMENTS = $(CONFIG_CODE_SIGN_ENTITLEMENTS_APPSTORE)

// ASSETCATALOG_COMPILER_APPICON_NAME
ASSETCATALOG_COMPILER_APPICON_NAME = $(CONFIG_ASSETCATALOG_COMPILER_APPICON_NAME_APPSTORE)

// GCC_PREPROCESSOR_DEFINITIONS
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(CONFIG_PREPROCESSOR_DEFINITIONS_APPSTORE)

// GCC_PREPROCESSOR_DEFINITIONS - OTHER_SWIFT_FLAGS
OTHER_SWIFT_FLAGS = $(inherited) $(CONFIG_OTHER_SWIFT_FLAGS_APPSTORE)
